{
  "APP_ENV": "development",
  "APP_NAME": "Autolab Customer",
  "SUPABASE_URL": "https://anjgoayszgsywhqyrdip.supabase.co",
  "SUPABASE_ANON_KEY": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuamdvYXlzemdzeXdocXlyZGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgxMjYyMTgsImV4cCI6MjA2MzcwMjIxOH0.oERdDvvE0TpqkkbdH7TqVSvMp6jYocmRawuvllIqoMk"
}